.step {
    // background-color: aqua;
    // border: 1px solid red;

    overflow: hidden;

    height: 4.8rem;
    width: 100%;
    max-width: 16rem;
    display: grid;
    grid-template-areas: "leading";
    column-gap: 1.2rem;
    align-items: center;

    &.active {
        flex: 1;
        grid-template-areas:
            "leading title"
            "leading subtitle";

        & .step_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            grid-area: title;
            font-size: 1.4rem;
        }
        
        & .step_subtitle {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            // display: flex;
            text-overflow: ellipsis;
            grid-area: subtitle;
            font-size: 1rem;
            max-lines: 2;
            color: grey;
        }

        & .step_leading {
            background-color: #0ab80a;
        }
    }

    &_leading {
        grid-area: leading;

        height: 2.4rem;
        width: 2.4rem;

        border-radius: 100%;
        background-color: #ccc;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-size: 1.2rem;
    }

    &_title {
        display: none;
    }

    &_subtitle {
        display: none;
    }
}