.stepper{
    // background-color: red;
    // border: 1px solid red;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: .8rem;
    align-items: center;
    justify-content: space-evenly;

    & > *{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_divider{
        margin-left: .4rem;
        height: .1rem;
        width: 1.2rem;

        background-color: #eee;
    }
}