.terms-container {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll !important;

  padding: 20px 20px 20px 20px;
}
// .terms-content {

// }
.terms-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.checkbox_input {
  margin-right: 10px;
}
.terms-content {
  font-size: 16px;
  overflow-y: scroll !important;
  // border: 2px solid red !important;
  // height: 100%;
  // width: 50%;
  padding-bottom: 20px;
}
p {
  margin-bottom: 10px;
}

ol {
  margin-left: 20px;
}
@media (max-width: 576px) {
  .terms-content {
    height: 100%;
    width: 100%;
  }
}
.department_detail {
  display: flex;
  flex-direction: column;
}
.collapse_dept {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dept_file_not {
  color: rgb(255, 34, 60);
  border: 1px solid rgb(255, 34, 60);
  background-color: rgba(255, 34, 60, 0.151);
  border-radius: 20px;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
}
.dept_file_add {
  color: #0ab80a;
  border: 1px solid #0ab80a;
  background-color: #0ab80a2f;
  border-radius: 20px;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
}
